.
	<div class="page none-decration">
		<div class="fream">
			<div class="fream-line"></div>
			<div class="corner top-left">
				<div class="triangle in"></div>
				<div class="triangle out"></div>	
			</div>
			<div class="corner bottom-left">
				<div class="triangle in"></div>
				<div class="triangle out"></div>	
			</div>
		</div>
	</div>		
