.
	<div class="page none-decration">
		<div class="title">
			<div class="title-top">
				ITCreate Club<br>
				2016/Vol.02
			</div>
			<div class="title-bottom">
				大阪情報コンピュータ専門学校<br>
				ITCreate 部誌
			</div>
			<div class="title-logo"> 
				<img src="../src/img/Sticker.png" alt="">
			</div>
		</div>
		<ul class="article-list">
		</ul>
		<div class="fream">
			<div class="fream-line"></div>
			<div class="corner top-left">
				<div class="triangle in"></div>
				<div class="triangle out"></div>	
			</div>
			<div class="corner bottom-left">
				<div class="triangle in"></div>
				<div class="triangle out"></div>	
			</div>
		</div>
	</div>	

