html
	head
		link(rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
		link(rel="stylesheet" type="text/css" href="../src/css/page.css")
		link(rel="stylesheet" type="text/css" href="../src/css/style.css")
		link(rel="stylesheet" type="text/css" href="../src/css/thema.css")
		link(rel="stylesheet" type="text/css" href="../src/css/top.css")
	body
		include ../../articles/3_takegawa.html
		script(src='https://code.jquery.com/jquery-2.2.4.min.js', type='text/javascript')
		script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js', type='text/javascript')
		script(src='../src/js/pagenation.js', type='text/javascript')