html {
	font-size: 10px;
}

body {
	margin: 0;
	-webkit-print-color-adjust: exact;
	font-size: 1rem;
}

/*********************************************
* .article-header
**********************************************/
.article-header-cover {
	width: 100%;
	display: inline-block;
}

.article-header {
	color: #231f20;
	padding: 40px 10px 10px 10px;
	margin-left: 60px;
	width: 500px;
	display: inline-block; 
}

h1.article-title, .writer-info{
	border-bottom: solid 1px;
}

.article-title {
	font-size: 32px;
	font-weight: 200;
	padding-right: 60px;
}

.writer-info {
	margin-top: 60px;
	font-size: 12px;
}

.writer-info::before {
	content: "Written by\A";
	white-space: pre;
	font-size: 10px;
}


.block {
	padding: 0 60px;
}

/*
* 記事内装飾
*/

.img-col img {
	max-height: 120px; 
}

h2::before{
	content: "\A";
	white-space: pre;
	display: inline-block;
	position: absolute;
	top: -5px;
	width: 50px;
	height: 8px;
}

h2::after {
	content: "";
	display: inline-block;
	position: absolute;
	top: -5px;
	left: 50px;
	background-color: #ffffff;
	width: 5px;
	height: 8px;
}

h2{
	position: relative;
	border-top: solid 1px;
	padding-top: 15px; 
	font-weight: 200;
	margin-top: 40px;
	margin-bottom: 15px;
	font-size: 2.5rem;
}

h3{ 
	font-weight: 200;
	font-size: 2rem;
}

p{
	line-height: 20px;	
	margin-bottom: 16px;
}

.img-col {
	text-align: center;
}

.thumbnail {
	display: inline-block !important;
}

.thumbnail .caption {
	font-size: 10px !important;
	padding: 4px !important;
	
}